@import "_card";

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .app-main {
    width: 70em;
    max-width: 70em;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
  }